<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/about.css" />
    <title>Alex Steiner | About</title>
</head>

<body>

    <!-- Nav bar-->
    <nav class="nav-bar">
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <!-- About -->
    <div class="about">
        <h1 class="title">About Alex Steiner</h1>
        <img src="/images/about-me.jfif" alt="Alex Steiner">
        <p>
            <strong>Hey, I am Alex Steiner</strong> a 14 years old developer from Austria and Italy, since I was young I have been passionate about coding and technology.<br> 
            </strong> As a young and ambitious individual, I have been dedicated to learning and expanding my skillset in the field. I started my journey with <strong>Scratch</strong> at the age of 10 and have since learned several programming languages, including <strong>Python</strong>, <strong>JavaScript</strong>, and <strong>C#</strong>. In 2020, I used my knowledge of <strong>Node.js</strong>, <strong>Express</strong>, and <strong>EJS</strong> to create a replica of the Google Play store where users could rate and upload their own games. This project allowed me to practice my web development skills and create something functional and user-friendly.<br>
            <br>
            In 2021, I became interested in the world of cryptocurrency and started mining <strong>Ethereum</strong> with my father. This introduced me to the exciting and constantly evolving world of blockchain technology and gave me the opportunity to learn about the inner workings of cryptocurrency. I have also used my programming skills to create my own <strong>NFT</strong> generator in C#, further expanding my knowledge of the crypto world.<br>
            <br>
            In 2022, I was fortunate enough to attend <strong>H-Farm International School</strong>, a tech high school in Treviso, Italy. At H-Farm, I have had the opportunity to further develop my skills in game development using the <strong>Unity</strong> engine. Some of my notable projects include a trash sorting robot that can detect and properly dispose of different types of waste, as well as a Nintendo 3DS version of the popular game <strong>'Among Us'</strong>. These projects have allowed me to apply my coding skills to real-world projects and see the results of my hard work.<br>
            <br>
            I am always looking for ways to challenge myself and push the boundaries of what I can achieve. I am excited to continue my journey in technology and am looking forward to learning <strong>Unreal</strong> in the future. I believe that with hard work and determination, anything is possible. I am confident that my skills and experience will allow me to succeed in any challenge I take on.
        </p>        
    </div>
   

    <!-- Footer -->
    <div class="footer">
        <div>
            <ul>
                <li><a href="/">github</a></li>
                <li><a href="/">discord</a></li>
                <li><a href="/">email</a></li>
            </ul>
        </div>
    </div>

</body>

</html>