<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/projects.css" />

    <title>Alex Steiner | Projects</title>
</head>

<body>

    <!-- Nav bar-->
    <nav class="nav-bar">
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>


    <!-- Projects -->
    <div class="projects">
        <h1 class="title">Alex Steiner's Projects</h1>

        <p>Welcome to my <strong>blog</strong>! Here, I will be sharing <strong>daily</strong> updates on my <strong>project</strong> and providing <strong>explanations</strong> on how it <strong>works</strong>. Follow along as I document my <strong>progress</strong> and share my <strong>insights</strong>.</p>

        <% posts.forEach(post => { %>
            <div class="project">
                <div class="text">
                    <h3>Among Us Nintendo 3DS Edition</h3>
                    <p>I made a Nintendo 3DS version of 'Among Us' using Unity for a school project, which helped me learn and practice game development.</p>
                    <a href="https://github.com/AlexSteiner30/Among-US-3DS-Edition">Visit website ➝</a>
                </div>
    
                <a href="https://github.com/AlexSteiner30/Among-US-3DS-Edition" style="color: transparent;">
                    <img src="https://img.asmedia.epimg.net/resizer/yDrIYFX4aYuDlpGAW5l2dSvVzXc=/1952x1098/cloudfront-eu-central-1.images.arcpublishing.com/diarioas/PDQPJXHFCVPFHJWSFRBJBF2MGY.jpg">>
                </a>
            </div>
        <% }) %>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div>
            <ul>
                <li><a href="https://github.com/AlexSteiner30">github</a></li>
                <li><a href="#">discord</a></li>
                <li><a href="mailto:alex@alexsteiner.com">email</a></li>
            </ul>
        </div>
    </div>

</body>

</html>