<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/contact.css" />
    <title>Alex Steiner | Contact</title>
</head>

<body>

    <!-- Nav bar-->
    <nav class="nav-bar">
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <!-- contact -->
    <div class="contact">
        <h1 class="title">Contact Me</h1>
        <p>
            I am excited to have the opportunity to meet you or collaborate on projects in the future.

            <br>
            <br>

            You can reach out to me through email at <a href="mailto:alex@alexsteiner.com">alex@alexsteiner.com</a> or through social media platforms if you would like to connect and discuss potential projects or ideas.
            
            <br>
            <br>
            
            I look forward to the possibility of working with you and contributing my skills and abilities to our endeavors.

            <br>
            <br>

            Please don't hesitate to reach out to me if you have any questions or would like to discuss further.
        </p>

        <ul>
            <li>Github-<a href="https://github.com/AlexSteiner30">https://github.com/AlexSteiner30</a></li>
            <li>Discord-<a href="https://discord.gg/nK3zb7kb">https://discord.gg/nK3zb7kb</a></li>
        </ul>

        <br>

        <p>View my resume <a href="">here</a>.</p>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div>
            <ul>
                <li><a href="/">github</a></li>
                <li><a href="/">discord</a></li>
                <li><a href="/">email</a></li>
            </ul>
        </div>
    </div>

</body>

</html>