<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <title>Alex Steiner | Home</title>
</head>

<body>

    <!-- Nav bar-->
    <nav class="nav-bar">
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <!-- Introduction -->
    <div class="introduction">

        <img class="picture" src="images/profile-picture.png">

        <h1>Hi, my name is Alex Steiner</h1>
        <p>I am a 14 year old developer from Austria and Italy. 
        I am passionate about game development and have been using the Unity engine and C# to create games.
        I am also learning C++ and the Unreal engine to expand my skillset and create even more immersive and interactive games.</p>
        <p>I am excited to share my work with you through this portfolio website and hope you enjoy exploring the projects I have created.</p>
        <p>Thank you for visiting!</p>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div>
            <ul>
                <li><a href="/">github</a></li>
                <li><a href="/">discord</a></li>
                <li><a href="/">email</a></li>
            </ul>
        </div>
    </div>

</body>

</html>