<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/projects.css" />

    <title>Alex Steiner | Projects</title>
</head>

<body>

     <!-- Nav bar-->
     <nav class="nav-bar">
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>


    <!-- Projects -->
    <div class="projects">
        <h1 class="title">TheJoePage's Projects</h1>

        <p>I love <strong>working on various projects</strong> at the same time, and you can find some of them here. I enjoy the challenge of tackling different tasks and coming up with creative solutions to problems. Whether it's developing a new game, creating a school newspaper, or something else entirely, I'm always up for a new challenge.
        </p>


        <div class="project">
            <div class="text">
                <h3>PriorityComm</h3>
                <p>I am the Co-Founder & Lead Software Engineer of PriorityComm. It is a new Roleplay CAD/MDT for FiveM & Roblox games!</p>
                <a href="https://discord.gg/WsKApbKapE">Join our Discord ➝</a>
            </div>

            <a href="" style="color: transparent;">
                <img src="">
            </a>

        </div>

    </div>

    <!-- Footer -->
    <div class="footer">
        <div>
            <ul>
                <li><a href="https://github.com/TheJoePage01">github</a></li>
                <li><a href="#">discord</a></li>
                <li><a href="mailto:altigjoe2@gmail.com">email</a></li>
            </ul>
        </div>
    </div>

</body>

</html>
