.contact{
    width: 50%;
    margin: 0 auto;
}

.contact .title{
    color: #FFFF7F;

    font-size: 50px;
}

p{
   line-height: 22.5px;
}

ul{
    list-style-type: disc;
    color: white;
}

li{
    color: white;
    line-height: 30px;
}

.footer{
    margin-top: 45px;
    top: auto;
}

@media only screen and (max-width: 1020px) {
    .contact{
        width: 70%;
        margin: 0 auto;
    }
}