/* Introduction */
.introduction{
    width: 80%;
    height: auto;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}


.introduction img{
    float: left;

    width: 25%;
    height: 25%;

    border-radius: 10%;

    margin-right: 50px;
}

.introduction h1{
    color: white;
}


@media only screen and (max-width: 1020px) {
    .introduction{
        display: block;
        text-align: left;
    }

    .introduction .text{
        float: none;
    }

    .introduction img{
        float: right;

        margin-left: 0px;
    }
}