/* General */

body{
    background-color: #08070b;

    font-family: "Neuzeit Grotesk Bold", sans-serif;
}

a{
    text-decoration: none;
    color: #ffca80;
}

p{
    color: rgb(143, 155, 168);

    font-family: Biotif, sans-serif;
    font-size: 16px;
}

.title{
    margin-top: 50px;
    font-size: 50px;
}

/* Nav Bar */
.nav-bar{
    display: flex;
    align-items: center;
    padding-top: 0px;
    margin-top: 0px;
}

.nav-bar div{
    display: table;
    margin: 0 auto;
}

.nav-bar ul{
    text-align: center;
    list-style: inside;
}

.nav-bar li{
    color: rgb(143, 155, 168);

    display: inline-block;

    font-family: Biotif, sans-serif;
    font-size: 12px;
    font-weight: 500;

    letter-spacing: 1.2px;
    margin-right:  25px;

    text-align: center;
    text-decoration-line: none;
    text-transform: uppercase;
}

.nav-bar a{
    color: rgb(143, 155, 168);
}

/* Footer */
.footer{
    position: absolute;

    top: 97%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
    list-style: inside;
}

.footer div{
    display: table;
    margin: 0 auto;
}

.footer ul{
    text-align: center;
    list-style: inside;
}

.footer li{
    color: rgb(143, 155, 168);

    display: inline-block;

    font-family: Biotif, sans-serif;
    font-size: 13px;
    font-weight: 500;

    letter-spacing: 1.2px;
    margin-right:  25px;

    text-align: center;
    text-decoration-line: none;
}

.footer a{
    color: rgb(143, 155, 168);
}

@media only screen and (max-width: 1020px) {
    nav{
        width: 70%;
    }
    .footer{
        position: absolute;
    
        top: 97%;
        left: 30%;
    
        transform: translate(-20%, -50%);
    
        text-align: center;
        list-style: inside;
    }
}